---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++11
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
BreakBeforeBraces: Attach
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
SortIncludes: Never
IncludeBlocks: Preserve
...
